In [138]:
import pandas as pd 
data=pd.read_excel('potential-impacts-world-food-supply (1).xls')
data

,File Code,BLS Code,BLS Region,BLS Region 2,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,Unnamed: 14,grains,four commo-dities
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,NaN,-36.333333,-31.50
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,NaN,-27.333333,-20.50
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,NaN,-10.000000,-3.25
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,NaN,0.000000,4.25
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,NaN,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,NaN,5.333333,9.50
1084,32,156,New Zealand,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,NaN,0.333333,3.25
1085,32,156,New Zealand,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,NaN,9.333333,14.25
1086,32,156,New Zealand,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,NaN,-2.000000,1.25
1087,32,156,New Zealand,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,NaN,9.333333,14.75

In [139]:
scenario=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='Scenario Codes')
scenario

    Scenario Code   Scenario   Time_Slice CO2 effects  CO2 ppm Adaptation
0               1       GISS  Equilibrium          No      330         No
1               2       GISS  Equilibrium         Yes      555         No
2               3       GISS  Equilibrium         Yes      555    Level 1
3               4       GISS  Equilibrium         Yes      555    Level 2
4               5       GFDL  Equilibrium          No      330         No
5               6       GFDL  Equilibrium         Yes      555         No
6               7       GFDL  Equilibrium         Yes      555    Level 1
7               8       GFDL  Equilibrium         Yes      555    Level 2
8               9       UKMO  Equilibrium          No      330         No
9              10       UKMO  Equilibrium         Yes      555         No
10             11       UKMO  Equilibrium         Yes      555    Level 1
11             12       UKMO  Equilibrium         Yes      555    Level 2
12             13  CM2(97)gg         2020          No      330    Level 1
13             14  CM2(97)gg         2020         Yes      441    Level 1
14             15  CM2(97)gg         2050          No      330    Level 1
15             16  CM2(97)gg         2050         Yes      565    Level 1
16             17  CM2(97)gg         2080          No      330    Level 1
17             18  CM2(97)gg         2080         Yes      731    Level 1
18             19  CM2(97)gs         2020          No      330    Level 1
19             20  CM2(97)gs         2020         Yes      441    Level 1
20             21  CM2(97)gs         2050          No      330    Level 1
21             22  CM2(97)gs         2050         Yes      565    Level 1
22             23  CM2(97)gs         2080          No      330    Level 1
23             24  CM2(97)gs         2080         Yes      731    Level 1
24             25      CM3-A         2020          No      330    Level 1
25             26      CM3-A         2020         Yes      475    Level 1
26             27      CM3-A         2050          No      330    Level 1
27             28      CM3-A         2050         Yes      574    Level 1
28             29      CM3-A         2080          No      330    Level 1
29             30      CM3-A         2080         Yes      712    Level 1
30             31   CM2-S550         2020          No      330    Level 1
31             32   CM2-S550         2020         Yes      410    Level 1
32             33   CM2-S550         2050          No      330    Level 1
33             34   CM2-S550         2050         Yes      458    Level 1
34             35   CM2-S550         2080          No      330    Level 1
35             36   CM2-S550         2080         Yes      498    Level 1
36             37   CM2-S550         2110          No      330    Level 1
37             38   CM2-S550         2110         Yes      530    Level 1
38             39   CM2-S750         2020          No      330    Level 1
39             40   CM2-S750         2020         Yes      424    Level 1
40             41   CM2-S750         2050          No      330    Level 1
41             42   CM2-S750         2050         Yes      501    Level 1
42             43   CM2-S750         2080          No      330    Level 1
43             44   CM2-S750         2080         Yes      577    Level 1
44             45   CM2-S750         2110          No      330    Level 1
45             46   CM2-S750         2110         Yes      643    Level 1

In [140]:
region=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='Region Codes')
region

    File Code  BLS Code                     BLS Region 1        BLS Region 2
0           1         9                        Argentina           Argentina
1           2        21                           Brazil              Brazil
2           3       138                           Mexico              Mexico
3           4       906         L.A. High Inc. Cal. Exp.        Latin Amer 1
4           5       907         L.A. High Inc. Cal. Imp.        Latin Amer 2
5           6       908               L.A. Med.-Low Inc.        Latin Amer 3
6           7       231                              USA                 USA
7           8        33                           Canada              Canada
8           9       888                               EU              Europe
9          10       223                           Turkey              Turkey
10         11       777               Russia + Republics  Russia + Republics
11         12        59                            Egypt               Egypt
12         13       114                            Kenya               Kenya
13         14       159                          Nigeria             Nigeria
14         15       901               Afr. Oil Exporters            Africa 1
15         16       902         Afr. Med. Inc. Cal. Exp.            Africa 2
16         17       903         Afr. Med. Inc. Cal. Imp.            Africa 3
17         18       904          Afr. Low Inc. Cal. Exp.            Africa 4
18         19       905          Afr. Low Inc. Cal. Imp.            Africa 5
19         20       912        N.E.A. Oil Exp. High Inc.           NE Asia 1
20         21       913             N.E.A. Med.-Low Inc.           NE Asia 2
21         22       165                         Pakistan            Pakistan
22         23       100                            India               India
23         24       101                        Indonesia           Indonesia
24         25       216                         Thailand            Thailand
25         26        41                            China               China
26         27       110                            Japan               Japan
27         28       909  F.E.A. High-Med. Inc. Cal. Exp.           FE Asia 1
28         29       910  F.E.A. High-Med. Inc. Cal. Imp.           FE Asia 2
29         30       911                  F.E.A. Low Inc.           FE Asia 3
30         31        10                        Australia           Australia
31         32       156                      New Zealand         New Zealand

In [141]:
crop=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='Crop Codes')
crop

               Crop Crop Code                                     Description
0             wheat         w                                       all wheat
1              rice         r                                        all rice
2     coarse grains         c      coarse grains (corn, barley, sorghum, etc)
3      protein feed         p                          protein feed (soybean)
4               NaN       NaN                                             NaN
5            grains         g  average of grains (wheat, rice, coarse grains)
6  four commodities         f              average of grains and protein feed

In [142]:
bls=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='BLS linkages')
bls

,COUNTRY_M,BLSCode_M,YieldCode_M,BLSREGION_M,MAPCODE
0,Afghanistan,913,913,N.E.A. Med.-Low Inc.,NE Asia 2
1,Albania,916,888,EU,Europe
2,Algeria,901,901,Afr. Oil Exporters,Africa 1
3,Angola,901,901,Afr. Oil Exporters,Africa 1
4,Antarctica,0,0,NaN,NaN
...,...,...,...,...,...
160,Western Sahara,915,903,Afr. Med. Inc. Cal. Imp.,Africa 3
161,Yemen,913,913,N.E.A. Med.-Low Inc.,NE Asia 2
162,Zaire,915,114,Kenya,Kenya
163,Zambia,903,114,Kenya,Kenya
164,Zimbabwe,902,114,Kenya,Kenya

In [143]:
one=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='1-12')
one

,File Code,BLS Code,BLS Region 1,BLS Region 2,w1,r1,c1,p1,g1,f1,...,c11,p11,g11,f11,w12,r12,c12,p12,g12,f12
0,1,9,Argentina,Argentina,-46,-46,-17,-17,-36.3,-31.5,...,-7,9,-15.7,-9.5,-10,-10,-3,9,-7.7,-3.5
1,2,21,Brazil,Brazil,-51,-35,-19,-35,-35.0,-35.0,...,-20,-7,-25.3,-20.8,-15,-12,-10,-3,-12.3,-10.0
2,3,138,Mexico,Mexico,-53,-43,-43,-43,-46.3,-45.5,...,-37,-20,-35.0,-31.3,-16,-17,-18,-10,-17.0,-15.3
3,4,906,L.A. High Inc. Cal. Exp.,Latin Amer 1,-46,-30,-19,-35,-31.7,-32.5,...,-19,-28,-23.7,-24.8,-15,-11,-9,-14,-11.7,-12.3
4,5,907,L.A. High Inc. Cal. Imp.,Latin Amer 2,-46,-35,-19,-35,-33.3,-33.8,...,-19,28,-25.3,-12.0,-15,-13,-9,-14,-12.3,-12.8
5,6,908,L.A. Med.-Low Inc.,Latin Amer 3,-51,-37,-19,-35,-35.7,-35.5,...,-19,-28,-26.0,-26.5,-16,-14,-9,-14,-13.0,-13.3
6,7,231,USA,USA,-21,-18,-20,-14,-19.7,-18.3,...,-14,-20,-10.7,-13.0,-3,-5,-7,-10,-5.0,-6.3
7,8,33,Canada,Canada,-12,-12,-5,2,-9.7,-6.8,...,0,6,0.0,1.5,0,0,0,6,0.0,1.5
8,9,888,EU,Europe,-12,-12,-8,-10,-10.7,-10.5,...,2,10,0.7,3.0,0,0,2,10,0.7,3.0
9,10,223,Turkey,Turkey,-30,-30,-25,-25,-28.3,-27.5,...,-15,-10,-17.0,-15.3,-9,-9,-7,-5,-8.3,-7.5
10,11,777,Russia + Republics,Russia + Republics,-8,-8,-8,-8,-8.0,-8.0,...,-7,-1,-8.3,-6.5,-5,-4,-3,0,-4.0,-3.0
11,12,59,Egypt,Egypt,-36,-32,-25,-31,-31.0,-31.0,...,-30,-21,-36.0,-32.3,-25,-13,-15,-10,-17.7,-15.8
12,13,114,Kenya,Kenya,-35,-35,-35,-25,-35.0,-32.5,...,-28,0,-18.0,-13.5,-6,-6,-14,0,-8.7,-6.5
13,14,159,Nigeria,Nigeria,-25,-15,-25,-30,-21.7,-23.8,...,-18,-5,-5.7,-5.5,-1,4,-9,-2,-2.0,-2.0
14,15,901,Afr. Oil Exporters,Africa 1,-35,-35,-20,-15,-30.0,-26.3,...,-21,0,-22.3,-16.8,-11,-11,-10,0,-10.7,-8.0
15,16,902,Afr. Med. Inc. Cal. Exp.,Africa 2,-23,-23,-23,-13,-23.0,-20.5,...,-25,1,-16.3,-12.0,-6,-6,-12,1,-8.0,-5.8
16,17,903,Afr. Med. Inc. Cal. Imp.,Africa 3,-35,-35,-30,-30,-33.3,-32.5,...,-26,-10,-20.7,-18.0,-9,-9,-13,-5,-10.3,-9.0
17,18,904,Afr. Low Inc. Cal. Exp.,Africa 4,-40,-40,-30,-30,-36.7,-35.0,...,-26,-10,-24.0,-20.5,-11,-11,-13,-5,-11.7,-10.0
18,19,905,Afr. Low Inc. Cal. Imp.,Africa 5,-45,-45,-40,-30,-43.3,-40.0,...,-36,-10,-30.7,-25.5,-14,-14,-18,-5,-15.3,-12.8
19,20,912,N.E.A. Oil Exp. High Inc.,NE Asia 1,-35,-35,-30,-25,-33.3,-31.3,...,-23,-10,-23.0,-19.8,-11,-11,-11,-5,-11.0,-9.5
20,21,913,N.E.A. Med.-Low Inc.,NE Asia 2,-45,-45,-40,-35,-43.3,-41.3,...,-28,-15,-28.0,-24.8,-14,-14,-14,-7,-14.0,-12.3
21,22,165,Pakistan,Pakistan,-57,-57,-52,-42,-55.3,-52.0,...,-59,-33,-56.0,-50.3,-27,-27,-29,-16,-27.7,-24.8
22,23,100,India,India,-32,-27,-22,-27,-27.0,-27.0,...,-31,-26,-27.7,-27.3,-13,-13,-16,-13,-14.0,-13.8
23,24,101,Indonesia,Indonesia,-34,-34,-34,-34,-34.0,-34.0,...,0,10,-2.3,0.8,0,-3,0,10,-1.0,1.8
24,25,216,Thailand,Thailand,-40,-40,-40,-40,-40.0,-40.0,...,-35,-17,-26.0,-23.8,-10,-11,-17,-8,-12.7,-11.5
25,26,41,China,China,-5,-24,-21,-15,-16.7,-16.3,...,0,13,0.0,3.3,0,0,0,13,0.0,3.3
26,27,110,Japan,Japan,-18,-10,-2,-10,-10.0,-10.0,...,15,12,5.7,7.3,0,2,15,12,5.7,7.3
27,28,909,F.E.A. High-Med. Inc. Cal. Exp.,FE Asia 1,-54,-34,-49,-34,-45.7,-42.8,...,-39,-7,-24.0,-19.8,-10,-6,-19,-3,-11.7,-9.5
28,29,910,F.E.A. High-Med. Inc. Cal. Imp.,FE Asia 2,-12,-25,-12,-13,-16.3,-15.5,...,-4,5,-4.0,-1.8,0,0,0,5,0.0,1.3
29,30,911,F.E.A. Low Inc.,FE Asia 3,-32,-34,-35,-20,-33.7,-30.3,...,-38,-6,-28.3,-22.8,-17,-6,-19,-3,-14.0,-11.3
30,31,10,Australia,Australia,-18,-13,-16,-16,-15.7,-15.8,...,5,9,4.7,5.8,9,0,5,9,4.7,5.8
31,32,156,New Zealand,New Zealand,2,2,5,5,3.0,3.5,...,15,20,12.3,14.3,11,11,15,20,12.3,14.3

In [144]:
two=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='25-30')
two

,File Code,BLS Code,BLS Region 1,BLS Region 2,w25,r25,c25,p25,g25,f25,...,c29,p29,g29,f29,w30,r30,c30,p30,g30,f30
0,1,9,Argentina,Argentina,-2,-2,-4,1,-2.7,-1.8,...,-14,-7,-11.3,-10.3,7,6,-8,16,1.7,5.3
1,2,21,Brazil,Brazil,-24,-24,-3,-13,-17.0,-16.0,...,-13,-38,-41.0,-40.3,-38,-39,-7,-15,-28.0,-24.8
2,3,138,Mexico,Mexico,-6,-6,-12,-10,-8.0,-8.5,...,-23,-29,-33.0,-32.0,-21,-22,-17,-6,-20.0,-16.5
3,4,906,L.A. High Inc. Cal. Exp.,Latin Amer 1,-24,-24,-7,-13,-18.3,-17.0,...,-21,-38,-43.7,-42.3,-38,-39,-15,-15,-30.7,-26.8
4,5,907,L.A. High Inc. Cal. Imp.,Latin Amer 2,-15,-15,-7,-10,-12.3,-11.8,...,-21,-34,-31.0,-31.8,-19,-20,-15,-11,-18.0,-16.3
5,6,908,L.A. Med.-Low Inc.,Latin Amer 3,-15,-15,-7,-10,-12.3,-11.8,...,-21,-34,-31.0,-31.8,-19,-20,-15,-11,-18.0,-16.3
6,7,231,USA,USA,-6,-6,-17,-7,-9.7,-9.0,...,-31,-29,-17.0,-20.0,7,6,-25,-6,-4.0,-4.5
7,8,33,Canada,Canada,-7,-7,-7,4,-7.0,-4.3,...,-16,-5,-20.0,-16.3,-5,-6,-10,18,-7.0,-0.8
8,9,888,EU,Europe,-1,-1,-5,-6,-2.3,-3.3,...,-12,-13,-9.3,-10.3,9,8,-6,10,3.7,5.3
9,10,223,Turkey,Turkey,-18,-18,-18,-18,-18.0,-18.0,...,-27,-27,-27.0,-27.0,-10,-11,-21,-4,-14.0,-11.5
10,11,777,Russia + Republics,Russia + Republics,-18,-18,-18,-18,-18.0,-18.0,...,-31,-31,-31.0,-31.0,-14,-15,-25,-8,-18.0,-15.5
11,12,59,Egypt,Egypt,-5,-5,-10,-10,-6.7,-7.5,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
12,13,114,Kenya,Kenya,-6,-6,-6,-6,-6.0,-6.0,...,-24,-24,-24.0,-24.0,-7,-8,-18,-1,-11.0,-8.5
13,14,159,Nigeria,Nigeria,-16,-16,-16,-16,-16.0,-16.0,...,-34,-34,-34.0,-34.0,-17,-18,-28,-11,-21.0,-18.5
14,15,901,Afr. Oil Exporters,Africa 1,-5,-5,-10,-10,-6.7,-7.5,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
15,16,902,Afr. Med. Inc. Cal. Exp.,Africa 2,-11,-11,-11,-11,-11.0,-11.0,...,-29,-29,-29.0,-29.0,-12,-13,-23,-6,-16.0,-13.5
16,17,903,Afr. Med. Inc. Cal. Imp.,Africa 3,-8,-8,-10,-10,-8.7,-9.0,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
17,18,904,Afr. Low Inc. Cal. Exp.,Africa 4,-8,-8,-10,-10,-8.7,-9.0,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
18,19,905,Afr. Low Inc. Cal. Imp.,Africa 5,-8,-8,-10,-10,-8.7,-9.0,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
19,20,912,N.E.A. Oil Exp. High Inc.,NE Asia 1,-9,-9,-11,-12,-9.7,-10.3,...,-31,-31,-31.0,-31.0,-14,-15,-25,-8,-18.0,-15.5
20,21,913,N.E.A. Med.-Low Inc.,NE Asia 2,-9,-9,-11,-12,-9.7,-10.3,...,-31,-31,-31.0,-31.0,-14,-15,-25,-8,-18.0,-15.5
21,22,165,Pakistan,Pakistan,-13,-13,-13,-13,-13.0,-13.0,...,-33,-33,-33.0,-33.0,-16,-17,-27,-10,-20.0,-17.5
22,23,100,India,India,-12,-12,-12,-12,-12.0,-12.0,...,-28,-28,-28.0,-28.0,-11,-12,-22,-5,-15.0,-12.5
23,24,101,Indonesia,Indonesia,0,-3,-6,-7,-3.0,-4.0,...,-19,-20,-15.7,-16.8,4,1,-13,3,-2.7,-1.3
24,25,216,Thailand,Thailand,-2,-2,-2,-2,-2.0,-2.0,...,-19,-19,-19.0,-19.0,-2,-3,-13,4,-6.0,-3.5
25,26,41,China,China,0,-5,-10,-13,-5.0,-7.0,...,-21,-23,-16.0,-17.8,4,2,-15,0,-3.0,-2.3
26,27,110,Japan,Japan,-5,2,-4,4,-2.3,-0.8,...,-22,-8,-20.0,-17.0,-6,1,-16,15,-7.0,-1.5
27,28,909,F.E.A. High-Med. Inc. Cal. Exp.,FE Asia 1,0,-3,-6,-7,-3.0,-4.0,...,-19,-20,-15.7,-16.8,4,1,-13,3,-2.7,-1.3
28,29,910,F.E.A. High-Med. Inc. Cal. Imp.,FE Asia 2,-2,-1,-4,-4,-2.3,-2.8,...,-16,-16,-15.7,-15.8,0,2,-10,7,-2.7,-0.3
29,30,911,F.E.A. Low Inc.,FE Asia 3,0,-3,-6,-7,-3.0,-4.0,...,-20,-22,-17.3,-18.5,2,-1,-14,1,-4.3,-3.0
30,31,10,Australia,Australia,0,-5,0,0,-1.7,-1.3,...,-26,-26,-21.3,-22.5,-9,4,-20,-3,-8.3,-7.0
31,32,156,New Zealand,New Zealand,-2,-2,-7,9,-3.7,-0.5,...,-20,1,-10.0,-7.3,12,11,-14,24,3.0,8.3

In [145]:
three=pd.read_excel('potential-impacts-world-food-supply (1).xls',sheet_name='31-46')
three

,File Code,BLS Code,BLS Region 1,BLS Region 2,w31,r31,c31,p31,g31,f31,...,c45,p45,g45,f45,w46,r46,c46,p46,g46,f46
0,1,9,Argentina,Argentina,-2,-2,-1,3,-1.7,-0.5,...,-7,0,-5.7,-4.3,10,9,-2,20,5.7,9.3
1,2,21,Brazil,Brazil,-8,-8,-1,-4,-5.7,-5.3,...,-1,-23,-9.7,-13.0,1,0,4,-3,1.7,0.5
2,3,138,Mexico,Mexico,-11,-11,-7,-1,-9.7,-7.5,...,-21,-16,-21.7,-20.3,-7,-8,-16,4,-10.3,-6.8
3,4,906,L.A. High Inc. Cal. Exp.,Latin Amer 1,-9,-9,-1,-4,-6.3,-5.8,...,-3,-18,-14.3,-15.3,-5,-6,2,2,-3.0,-1.8
4,5,907,L.A. High Inc. Cal. Imp.,Latin Amer 2,-7,-7,-2,-2,-5.3,-4.5,...,-5,-14,-13.0,-13.3,-2,-3,0,6,-1.7,0.3
5,6,908,L.A. Med.-Low Inc.,Latin Amer 3,-7,-7,-2,-2,-5.3,-4.5,...,-5,-14,-13.0,-13.3,-2,-3,0,6,-1.7,0.3
6,7,231,USA,USA,-8,-8,-4,6,-6.7,-3.5,...,-9,-7,-12.7,-11.3,0,0,-4,13,-1.3,2.3
7,8,33,Canada,Canada,-4,-4,-2,10,-3.3,0.0,...,-5,0,-11.0,-8.3,1,0,0,20,0.3,5.3
8,9,888,EU,Europe,1,1,1,-2,1.0,0.3,...,-5,-12,-9.0,-9.8,4,3,0,8,2.3,3.8
9,10,223,Turkey,Turkey,-4,-4,-5,-8,-4.3,-5.3,...,-9,-14,-12.3,-12.8,1,0,-4,6,-1.0,0.8
10,11,777,Russia + Republics,Russia + Republics,-6,-6,-4,-6,-5.3,-5.5,...,-5,-14,-11.0,-11.8,1,0,0,6,0.3,1.8
11,12,59,Egypt,Egypt,-4,-4,-8,-8,-5.3,-6.0,...,-20,-20,-17.3,-18.0,-1,-2,-15,0,-6.0,-4.5
12,13,114,Kenya,Kenya,-2,-2,-2,-2,-2.0,-2.0,...,-10,-10,-10.0,-10.0,5,4,-5,10,1.3,3.5
13,14,159,Nigeria,Nigeria,-12,-12,-12,-12,-12.0,-12.0,...,-20,-20,-20.0,-20.0,-5,-6,-15,0,-8.7,-6.5
14,15,901,Afr. Oil Exporters,Africa 1,-4,-4,-8,-8,-5.3,-6.0,...,-20,-20,-17.3,-18.0,-1,-2,-15,0,-6.0,-4.5
15,16,902,Afr. Med. Inc. Cal. Exp.,Africa 2,-7,-7,-7,-7,-7.0,-7.0,...,-15,-15,-15.0,-15.0,0,-1,-10,5,-3.7,-1.5
16,17,903,Afr. Med. Inc. Cal. Imp.,Africa 3,-6,-6,-7,-8,-6.3,-6.8,...,-18,-18,-16.7,-17.0,-1,-2,-13,2,-5.3,-3.5
17,18,904,Afr. Low Inc. Cal. Exp.,Africa 4,-6,-6,-7,-8,-6.3,-6.8,...,-18,-18,-16.7,-17.0,-1,-2,-13,2,-5.3,-3.5
18,19,905,Afr. Low Inc. Cal. Imp.,Africa 5,-6,-6,-7,-8,-6.3,-6.8,...,-18,-18,-16.7,-17.0,-1,-2,-13,2,-5.3,-3.5
19,20,912,N.E.A. Oil Exp. High Inc.,NE Asia 1,-7,-7,-9,-9,-7.7,-8.0,...,-25,-25,-23.7,-24.0,-8,-9,-20,-5,-12.3,-10.5
20,21,913,N.E.A. Med.-Low Inc.,NE Asia 2,-7,-7,-9,-9,-7.7,-8.0,...,-25,-25,-23.7,-24.0,-8,-9,-20,-5,-12.3,-10.5
21,22,165,Pakistan,Pakistan,-7,-6,-5,-8,-6.0,-6.5,...,-18,-25,-21.0,-22.0,-8,-8,-13,-5,-9.7,-8.5
22,23,100,India,India,-8,-7,-7,-9,-7.3,-7.8,...,-18,-25,-21.0,-22.0,-8,-8,-13,-5,-9.7,-8.5
23,24,101,Indonesia,Indonesia,3,-1,-4,-4,-0.7,-1.5,...,-15,-15,-10.7,-11.8,9,3,-10,5,0.7,1.8
24,25,216,Thailand,Thailand,1,1,1,1,1.0,1.0,...,-11,-11,-11.0,-11.0,4,3,-6,9,0.3,2.5
25,26,41,China,China,-3,-4,-3,-6,-3.3,-4.0,...,-4,-21,-6.3,-10.0,10,4,1,-1,5.0,3.5
26,27,110,Japan,Japan,-3,3,1,3,0.3,1.0,...,0,1,-3.3,-2.3,5,14,5,21,8.0,11.3
27,28,909,F.E.A. High-Med. Inc. Cal. Exp.,FE Asia 1,4,-1,-3,-4,0.0,-1.0,...,-15,-15,-10.7,-11.8,9,3,-10,5,0.7,1.8
28,29,910,F.E.A. High-Med. Inc. Cal. Imp.,FE Asia 2,2,1,-3,-3,0.0,-0.8,...,-8,-8,-5.3,-6.0,11,10,-3,12,6.0,7.5
29,30,911,F.E.A. Low Inc.,FE Asia 3,3,-2,-3,-5,-0.7,-1.8,...,-16,-16,-7.3,-9.5,17,6,-11,4,4.0,4.0
30,31,10,Australia,Australia,-5,-3,-4,-5,-4.0,-4.3,...,-11,-21,-12.7,-14.8,-3,5,-6,-1,-1.3,-1.3
31,32,156,New Zealand,New Zealand,2,2,-1,11,1.0,3.5,...,-2,11,-2.0,1.3,13,12,3,31,9.3,14.8

Merging tables

In [146]:
df=data
df

,File Code,BLS Code,BLS Region,BLS Region 2,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,Unnamed: 14,grains,four commo-dities
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,NaN,-36.333333,-31.50
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,NaN,-27.333333,-20.50
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,NaN,-10.000000,-3.25
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,NaN,0.000000,4.25
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,NaN,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,NaN,5.333333,9.50
1084,32,156,New Zealand,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,NaN,0.333333,3.25
1085,32,156,New Zealand,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,NaN,9.333333,14.25
1086,32,156,New Zealand,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,NaN,-2.000000,1.25
1087,32,156,New Zealand,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,NaN,9.333333,14.75

In [147]:
df = pd.merge(
    df,
    region,
    on='File Code',  # The common column
    how='left'          
)

df

,File Code,BLS Code_x,BLS Region,BLS Region 2_x,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,Unnamed: 14,grains,four commo-dities,BLS Code_y,BLS Region 1,BLS Region 2_y
0,1,9,Argentina,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,NaN,-36.333333,-31.50,9,Argentina,Argentina
1,1,9,Argentina,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,NaN,-27.333333,-20.50,9,Argentina,Argentina
2,1,9,Argentina,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,NaN,-10.000000,-3.25,9,Argentina,Argentina
3,1,9,Argentina,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,NaN,0.000000,4.25,9,Argentina,Argentina
4,1,9,Argentina,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,NaN,-38.000000,-35.50,9,Argentina,Argentina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,NaN,5.333333,9.50,156,New Zealand,New Zealand
1084,32,156,New Zealand,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,NaN,0.333333,3.25,156,New Zealand,New Zealand
1085,32,156,New Zealand,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,NaN,9.333333,14.25,156,New Zealand,New Zealand
1086,32,156,New Zealand,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,NaN,-2.000000,1.25,156,New Zealand,New Zealand
1087,32,156,New Zealand,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,NaN,9.333333,14.75,156,New Zealand,New Zealand

In [148]:
df.drop(columns=['BLS Region 2_x','BLS Region 1','BLS Code_y','BLS Region 2_y'],inplace=True)

In [149]:
r={'BLS Code_x':'BLS Code'}
df.rename(columns=r,inplace=True)
df

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,Unnamed: 14,grains,four commo-dities
0,1,9,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,NaN,-36.333333,-31.50
1,1,9,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,NaN,-27.333333,-20.50
2,1,9,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,NaN,-10.000000,-3.25
3,1,9,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,NaN,0.000000,4.25
4,1,9,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,NaN,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,NaN,5.333333,9.50
1084,32,156,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,NaN,0.333333,3.25
1085,32,156,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,NaN,9.333333,14.25
1086,32,156,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,NaN,-2.000000,1.25
1087,32,156,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,NaN,9.333333,14.75

In [150]:
df.columns

Index(['File Code', 'BLS Code', 'BLS Region', 'Scenario Code', 'Scenario',
       'Time_Slice', 'CO2 effects', 'CO2 ppm', 'Adapt- ation', 'wheat', 'rice',
       'coarse grains', 'protein feed', 'Unnamed: 14', 'grains',
       'four commo-dities'],
      dtype='object')

In [151]:

import pandas as pd
# Assuming df_master is your merged and cleaned DataFrame

# Define the file name for your new Excel sheet
file_name = 'final.xlsx'

# 1. Export the DataFrame to an Excel file
df.to_excel(
    file_name,
    index=False, # IMPORTANT: This prevents writing the DataFrame's row numbers as a column in the Excel file
    sheet_name='Prediction_Data'
)

print(f"Successfully saved your merged table to: {file_name}")

Successfully saved your merged table to: final.xlsx