In [2]:
import pandas as pd 
data=pd.read_excel('../data/final.xlsx')
data

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities
0,1,9,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,-36.333333,-31.50
1,1,9,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,-27.333333,-20.50
2,1,9,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,-10.000000,-3.25
3,1,9,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,0.000000,4.25
4,1,9,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,5.333333,9.50
1084,32,156,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,0.333333,3.25
1085,32,156,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,9.333333,14.25
1086,32,156,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,-2.000000,1.25
1087,32,156,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,9.333333,14.75

In [3]:
data.iloc[:,:-6]

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation
0,1,9,Argentina,1,GISS,Equilibrium,No,330,No
1,1,9,Argentina,2,GISS,Equilibrium,Yes,555,No
2,1,9,Argentina,3,GISS,Equilibrium,Yes,555,Level 1
3,1,9,Argentina,4,GISS,Equilibrium,Yes,555,Level 2
4,1,9,Argentina,5,GFDL,Equilibrium,No,330,No
...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,Yes,501,Level 1
1084,32,156,New Zealand,43,CM2-S750,2080,No,330,Level 1
1085,32,156,New Zealand,44,CM2-S750,2080,Yes,577,Level 1
1086,32,156,New Zealand,45,CM2-S750,2110,No,330,Level 1
1087,32,156,New Zealand,46,CM2-S750,2110,Yes,643,Level 1

In [4]:
data

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities
0,1,9,Argentina,1,GISS,Equilibrium,No,330,No,-46,-46,-17,-17,-36.333333,-31.50
1,1,9,Argentina,2,GISS,Equilibrium,Yes,555,No,-34,-35,-13,0,-27.333333,-20.50
2,1,9,Argentina,3,GISS,Equilibrium,Yes,555,Level 1,-15,-15,0,17,-10.000000,-3.25
3,1,9,Argentina,4,GISS,Equilibrium,Yes,555,Level 2,0,0,0,17,0.000000,4.25
4,1,9,Argentina,5,GFDL,Equilibrium,No,330,No,-43,-43,-28,-28,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,Yes,501,Level 1,8,5,3,22,5.333333,9.50
1084,32,156,New Zealand,43,CM2-S750,2080,No,330,Level 1,0,0,1,12,0.333333,3.25
1085,32,156,New Zealand,44,CM2-S750,2080,Yes,577,Level 1,12,11,5,29,9.333333,14.25
1086,32,156,New Zealand,45,CM2-S750,2110,No,330,Level 1,-2,-2,-2,11,-2.000000,1.25
1087,32,156,New Zealand,46,CM2-S750,2110,Yes,643,Level 1,13,12,3,31,9.333333,14.75

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
a=le.fit_transform(data['CO2 effects'])

In [6]:
data['CO2 effects']=a

In [7]:
data

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities
0,1,9,Argentina,1,GISS,Equilibrium,0,330,No,-46,-46,-17,-17,-36.333333,-31.50
1,1,9,Argentina,2,GISS,Equilibrium,1,555,No,-34,-35,-13,0,-27.333333,-20.50
2,1,9,Argentina,3,GISS,Equilibrium,1,555,Level 1,-15,-15,0,17,-10.000000,-3.25
3,1,9,Argentina,4,GISS,Equilibrium,1,555,Level 2,0,0,0,17,0.000000,4.25
4,1,9,Argentina,5,GFDL,Equilibrium,0,330,No,-43,-43,-28,-28,-38.000000,-35.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,1,501,Level 1,8,5,3,22,5.333333,9.50
1084,32,156,New Zealand,43,CM2-S750,2080,0,330,Level 1,0,0,1,12,0.333333,3.25
1085,32,156,New Zealand,44,CM2-S750,2080,1,577,Level 1,12,11,5,29,9.333333,14.25
1086,32,156,New Zealand,45,CM2-S750,2110,0,330,Level 1,-2,-2,-2,11,-2.000000,1.25
1087,32,156,New Zealand,46,CM2-S750,2110,1,643,Level 1,13,12,3,31,9.333333,14.75

In [8]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
Scenario=ohe.fit_transform(data[['Scenario']]).toarray()

In [9]:
new_col_names = ohe.get_feature_names_out(['Scenario'])
scenario_encoded=pd.DataFrame(Scenario,columns=new_col_names,index=data.index)

In [10]:
data=pd.concat([data,scenario_encoded],axis=1)
data

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,...,coarse grains,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO
0,1,9,Argentina,1,GISS,Equilibrium,0,330,No,-46,...,-17,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0
1,1,9,Argentina,2,GISS,Equilibrium,1,555,No,-34,...,-13,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0
2,1,9,Argentina,3,GISS,Equilibrium,1,555,Level 1,-15,...,0,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0
3,1,9,Argentina,4,GISS,Equilibrium,1,555,Level 2,0,...,0,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0
4,1,9,Argentina,5,GFDL,Equilibrium,0,330,No,-43,...,-28,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050,1,501,Level 1,8,...,3,22,5.333333,9.50,0.0,1.0,0.0,0.0,0.0,0.0
1084,32,156,New Zealand,43,CM2-S750,2080,0,330,Level 1,0,...,1,12,0.333333,3.25,0.0,1.0,0.0,0.0,0.0,0.0
1085,32,156,New Zealand,44,CM2-S750,2080,1,577,Level 1,12,...,5,29,9.333333,14.25,0.0,1.0,0.0,0.0,0.0,0.0
1086,32,156,New Zealand,45,CM2-S750,2110,0,330,Level 1,-2,...,-2,11,-2.000000,1.25,0.0,1.0,0.0,0.0,0.0,0.0
1087,32,156,New Zealand,46,CM2-S750,2110,1,643,Level 1,13,...,3,31,9.333333,14.75,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
data.head(20)

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,...,coarse grains,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO
0,1,9,Argentina,1,GISS,Equilibrium,0,330,No,-46,...,-17,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0
1,1,9,Argentina,2,GISS,Equilibrium,1,555,No,-34,...,-13,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0
2,1,9,Argentina,3,GISS,Equilibrium,1,555,Level 1,-15,...,0,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0
3,1,9,Argentina,4,GISS,Equilibrium,1,555,Level 2,0,...,0,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0
4,1,9,Argentina,5,GFDL,Equilibrium,0,330,No,-43,...,-28,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0
5,1,9,Argentina,6,GFDL,Equilibrium,1,555,No,-31,...,-24,-11,-29.000000,-24.50,0.0,0.0,0.0,1.0,0.0,0.0
6,1,9,Argentina,7,GFDL,Equilibrium,1,555,Level 1,-11,...,-10,6,-10.666667,-6.50,0.0,0.0,0.0,1.0,0.0,0.0
7,1,9,Argentina,8,GFDL,Equilibrium,1,555,Level 2,-6,...,-5,6,-5.666667,-2.75,0.0,0.0,0.0,1.0,0.0,0.0
8,1,9,Argentina,9,UKMO,Equilibrium,0,330,No,-52,...,-25,-25,-43.000000,-38.50,0.0,0.0,0.0,0.0,0.0,1.0
9,1,9,Argentina,10,UKMO,Equilibrium,1,555,No,-40,...,-21,-8,-34.000000,-27.50,0.0,0.0,0.0,0.0,0.0,1.0
10,1,9,Argentina,11,UKMO,Equilibrium,1,555,Level 1,-20,...,-7,9,-15.666667,-9.50,0.0,0.0,0.0,0.0,0.0,1.0
11,1,9,Argentina,12,UKMO,Equilibrium,1,555,Level 2,-10,...,-3,9,-7.666667,-3.50,0.0,0.0,0.0,0.0,0.0,1.0
12,1,9,Argentina,25,CM3-A,2020,0,330,Level 1,-2,...,-4,1,-2.666667,-1.75,0.0,0.0,1.0,0.0,0.0,0.0
13,1,9,Argentina,26,CM3-A,2020,1,475,Level 1,4,...,0,9,2.000000,3.75,0.0,0.0,1.0,0.0,0.0,0.0
14,1,9,Argentina,27,CM3-A,2050,0,330,Level 1,-7,...,-9,-1,-7.666667,-6.00,0.0,0.0,1.0,0.0,0.0,0.0
15,1,9,Argentina,28,CM3-A,2050,1,574,Level 1,5,...,-5,16,1.333333,5.00,0.0,0.0,1.0,0.0,0.0,0.0
16,1,9,Argentina,29,CM3-A,2080,0,330,Level 1,-10,...,-14,-7,-11.333333,-10.25,0.0,0.0,1.0,0.0,0.0,0.0
17,1,9,Argentina,30,CM3-A,2080,1,712,Level 1,7,...,-8,16,1.666667,5.25,0.0,0.0,1.0,0.0,0.0,0.0
18,1,9,Argentina,31,CM2-S550,2020,0,330,Level 1,-2,...,-1,3,-1.666667,-0.50,1.0,0.0,0.0,0.0,0.0,0.0
19,1,9,Argentina,32,CM2-S550,2020,1,410,Level 1,3,...,1,10,1.666667,3.75,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
data.drop(columns=['Scenario'])

,File Code,BLS Code,BLS Region,Scenario Code,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,rice,coarse grains,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO
0,1,9,Argentina,1,Equilibrium,0,330,No,-46,-46,-17,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0
1,1,9,Argentina,2,Equilibrium,1,555,No,-34,-35,-13,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0
2,1,9,Argentina,3,Equilibrium,1,555,Level 1,-15,-15,0,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0
3,1,9,Argentina,4,Equilibrium,1,555,Level 2,0,0,0,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0
4,1,9,Argentina,5,Equilibrium,0,330,No,-43,-43,-28,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,2050,1,501,Level 1,8,5,3,22,5.333333,9.50,0.0,1.0,0.0,0.0,0.0,0.0
1084,32,156,New Zealand,43,2080,0,330,Level 1,0,0,1,12,0.333333,3.25,0.0,1.0,0.0,0.0,0.0,0.0
1085,32,156,New Zealand,44,2080,1,577,Level 1,12,11,5,29,9.333333,14.25,0.0,1.0,0.0,0.0,0.0,0.0
1086,32,156,New Zealand,45,2110,0,330,Level 1,-2,-2,-2,11,-2.000000,1.25,0.0,1.0,0.0,0.0,0.0,0.0
1087,32,156,New Zealand,46,2110,1,643,Level 1,13,12,3,31,9.333333,14.75,0.0,1.0,0.0,0.0,0.0,0.0

In [13]:
# 1. Define the desired order explicitly
adaptation_order = ['No', 'Level 1', 'Level 2']

# 2. Convert the column to the Categorical data type with the defined order
data['Adapt- ation'] = pd.Categorical(
    data['Adapt- ation'], 
    categories=adaptation_order, 
    ordered=True
)

In [14]:
data.head(20)

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,Adapt- ation,wheat,...,coarse grains,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO
0,1,9,Argentina,1,GISS,Equilibrium,0,330,No,-46,...,-17,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0
1,1,9,Argentina,2,GISS,Equilibrium,1,555,No,-34,...,-13,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0
2,1,9,Argentina,3,GISS,Equilibrium,1,555,Level 1,-15,...,0,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0
3,1,9,Argentina,4,GISS,Equilibrium,1,555,Level 2,0,...,0,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0
4,1,9,Argentina,5,GFDL,Equilibrium,0,330,No,-43,...,-28,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0
5,1,9,Argentina,6,GFDL,Equilibrium,1,555,No,-31,...,-24,-11,-29.000000,-24.50,0.0,0.0,0.0,1.0,0.0,0.0
6,1,9,Argentina,7,GFDL,Equilibrium,1,555,Level 1,-11,...,-10,6,-10.666667,-6.50,0.0,0.0,0.0,1.0,0.0,0.0
7,1,9,Argentina,8,GFDL,Equilibrium,1,555,Level 2,-6,...,-5,6,-5.666667,-2.75,0.0,0.0,0.0,1.0,0.0,0.0
8,1,9,Argentina,9,UKMO,Equilibrium,0,330,No,-52,...,-25,-25,-43.000000,-38.50,0.0,0.0,0.0,0.0,0.0,1.0
9,1,9,Argentina,10,UKMO,Equilibrium,1,555,No,-40,...,-21,-8,-34.000000,-27.50,0.0,0.0,0.0,0.0,0.0,1.0
10,1,9,Argentina,11,UKMO,Equilibrium,1,555,Level 1,-20,...,-7,9,-15.666667,-9.50,0.0,0.0,0.0,0.0,0.0,1.0
11,1,9,Argentina,12,UKMO,Equilibrium,1,555,Level 2,-10,...,-3,9,-7.666667,-3.50,0.0,0.0,0.0,0.0,0.0,1.0
12,1,9,Argentina,25,CM3-A,2020,0,330,Level 1,-2,...,-4,1,-2.666667,-1.75,0.0,0.0,1.0,0.0,0.0,0.0
13,1,9,Argentina,26,CM3-A,2020,1,475,Level 1,4,...,0,9,2.000000,3.75,0.0,0.0,1.0,0.0,0.0,0.0
14,1,9,Argentina,27,CM3-A,2050,0,330,Level 1,-7,...,-9,-1,-7.666667,-6.00,0.0,0.0,1.0,0.0,0.0,0.0
15,1,9,Argentina,28,CM3-A,2050,1,574,Level 1,5,...,-5,16,1.333333,5.00,0.0,0.0,1.0,0.0,0.0,0.0
16,1,9,Argentina,29,CM3-A,2080,0,330,Level 1,-10,...,-14,-7,-11.333333,-10.25,0.0,0.0,1.0,0.0,0.0,0.0
17,1,9,Argentina,30,CM3-A,2080,1,712,Level 1,7,...,-8,16,1.666667,5.25,0.0,0.0,1.0,0.0,0.0,0.0
18,1,9,Argentina,31,CM2-S550,2020,0,330,Level 1,-2,...,-1,3,-1.666667,-0.50,1.0,0.0,0.0,0.0,0.0,0.0
19,1,9,Argentina,32,CM2-S550,2020,1,410,Level 1,3,...,1,10,1.666667,3.75,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# 3. Apply the Label Encoding (converting the categorical order to integers)
data['Adaptation'] = data['Adapt- ation'].cat.codes

In [16]:
data.drop(columns='Adapt- ation',inplace=True)

In [17]:
data.head(20)

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,wheat,rice,...,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO,Adaptation
0,1,9,Argentina,1,GISS,Equilibrium,0,330,-46,-46,...,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0,0
1,1,9,Argentina,2,GISS,Equilibrium,1,555,-34,-35,...,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0,0
2,1,9,Argentina,3,GISS,Equilibrium,1,555,-15,-15,...,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0,1
3,1,9,Argentina,4,GISS,Equilibrium,1,555,0,0,...,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0,2
4,1,9,Argentina,5,GFDL,Equilibrium,0,330,-43,-43,...,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0,0
5,1,9,Argentina,6,GFDL,Equilibrium,1,555,-31,-32,...,-11,-29.000000,-24.50,0.0,0.0,0.0,1.0,0.0,0.0,0
6,1,9,Argentina,7,GFDL,Equilibrium,1,555,-11,-11,...,6,-10.666667,-6.50,0.0,0.0,0.0,1.0,0.0,0.0,1
7,1,9,Argentina,8,GFDL,Equilibrium,1,555,-6,-6,...,6,-5.666667,-2.75,0.0,0.0,0.0,1.0,0.0,0.0,2
8,1,9,Argentina,9,UKMO,Equilibrium,0,330,-52,-52,...,-25,-43.000000,-38.50,0.0,0.0,0.0,0.0,0.0,1.0,0
9,1,9,Argentina,10,UKMO,Equilibrium,1,555,-40,-41,...,-8,-34.000000,-27.50,0.0,0.0,0.0,0.0,0.0,1.0,0
10,1,9,Argentina,11,UKMO,Equilibrium,1,555,-20,-20,...,9,-15.666667,-9.50,0.0,0.0,0.0,0.0,0.0,1.0,1
11,1,9,Argentina,12,UKMO,Equilibrium,1,555,-10,-10,...,9,-7.666667,-3.50,0.0,0.0,0.0,0.0,0.0,1.0,2
12,1,9,Argentina,25,CM3-A,2020,0,330,-2,-2,...,1,-2.666667,-1.75,0.0,0.0,1.0,0.0,0.0,0.0,1
13,1,9,Argentina,26,CM3-A,2020,1,475,4,2,...,9,2.000000,3.75,0.0,0.0,1.0,0.0,0.0,0.0,1
14,1,9,Argentina,27,CM3-A,2050,0,330,-7,-7,...,-1,-7.666667,-6.00,0.0,0.0,1.0,0.0,0.0,0.0,1
15,1,9,Argentina,28,CM3-A,2050,1,574,5,4,...,16,1.333333,5.00,0.0,0.0,1.0,0.0,0.0,0.0,1
16,1,9,Argentina,29,CM3-A,2080,0,330,-10,-10,...,-7,-11.333333,-10.25,0.0,0.0,1.0,0.0,0.0,0.0,1
17,1,9,Argentina,30,CM3-A,2080,1,712,7,6,...,16,1.666667,5.25,0.0,0.0,1.0,0.0,0.0,0.0,1
18,1,9,Argentina,31,CM2-S550,2020,0,330,-2,-2,...,3,-1.666667,-0.50,1.0,0.0,0.0,0.0,0.0,0.0,1
19,1,9,Argentina,32,CM2-S550,2020,1,410,3,1,...,10,1.666667,3.75,1.0,0.0,0.0,0.0,0.0,0.0,1

In [18]:
import numpy as np
data['Time_Slice']=data['Time_Slice'].replace('Equilibrium',2150.0)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13228\308091125.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Time_Slice']=data['Time_Slice'].replace('Equilibrium',2150.0)

In [19]:
data

,File Code,BLS Code,BLS Region,Scenario Code,Scenario,Time_Slice,CO2 effects,CO2 ppm,wheat,rice,...,protein feed,grains,four commo-dities,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO,Adaptation
0,1,9,Argentina,1,GISS,2150.0,0,330,-46,-46,...,-17,-36.333333,-31.50,0.0,0.0,0.0,0.0,1.0,0.0,0
1,1,9,Argentina,2,GISS,2150.0,1,555,-34,-35,...,0,-27.333333,-20.50,0.0,0.0,0.0,0.0,1.0,0.0,0
2,1,9,Argentina,3,GISS,2150.0,1,555,-15,-15,...,17,-10.000000,-3.25,0.0,0.0,0.0,0.0,1.0,0.0,1
3,1,9,Argentina,4,GISS,2150.0,1,555,0,0,...,17,0.000000,4.25,0.0,0.0,0.0,0.0,1.0,0.0,2
4,1,9,Argentina,5,GFDL,2150.0,0,330,-43,-43,...,-28,-38.000000,-35.50,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,42,CM2-S750,2050.0,1,501,8,5,...,22,5.333333,9.50,0.0,1.0,0.0,0.0,0.0,0.0,1
1084,32,156,New Zealand,43,CM2-S750,2080.0,0,330,0,0,...,12,0.333333,3.25,0.0,1.0,0.0,0.0,0.0,0.0,1
1085,32,156,New Zealand,44,CM2-S750,2080.0,1,577,12,11,...,29,9.333333,14.25,0.0,1.0,0.0,0.0,0.0,0.0,1
1086,32,156,New Zealand,45,CM2-S750,2110.0,0,330,-2,-2,...,11,-2.000000,1.25,0.0,1.0,0.0,0.0,0.0,0.0,1
1087,32,156,New Zealand,46,CM2-S750,2110.0,1,643,13,12,...,31,9.333333,14.75,0.0,1.0,0.0,0.0,0.0,0.0,1

In [20]:
data.drop(columns=['Scenario','Scenario Code'],inplace=True)

In [21]:
ohe2=OneHotEncoder()
bls=ohe2.fit_transform(data[['BLS Code']]).toarray()
bls

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [22]:
new_col = ohe2.get_feature_names_out(['BLS Code'])
bls_encoded=pd.DataFrame(bls,columns=new_col,index=data.index)
data=pd.concat([data,bls_encoded],axis=1)

In [23]:
data

,File Code,BLS Code,BLS Region,Time_Slice,CO2 effects,CO2 ppm,wheat,rice,coarse grains,protein feed,...,BLS Code_904,BLS Code_905,BLS Code_906,BLS Code_907,BLS Code_908,BLS Code_909,BLS Code_910,BLS Code_911,BLS Code_912,BLS Code_913
0,1,9,Argentina,2150.0,0,330,-46,-46,-17,-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9,Argentina,2150.0,1,555,-34,-35,-13,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,9,Argentina,2150.0,1,555,-15,-15,0,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,9,Argentina,2150.0,1,555,0,0,0,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,9,Argentina,2150.0,0,330,-43,-43,-28,-28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,2050.0,1,501,8,5,3,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1084,32,156,New Zealand,2080.0,0,330,0,0,1,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1085,32,156,New Zealand,2080.0,1,577,12,11,5,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086,32,156,New Zealand,2110.0,0,330,-2,-2,-2,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1087,32,156,New Zealand,2110.0,1,643,13,12,3,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:

from sklearn.preprocessing import MinMaxScaler
m=MinMaxScaler()
ms=m.fit_transform(data[['Time_Slice']])

In [25]:
data['Time_Slice']=ms

In [26]:
data

,File Code,BLS Code,BLS Region,Time_Slice,CO2 effects,CO2 ppm,wheat,rice,coarse grains,protein feed,...,BLS Code_904,BLS Code_905,BLS Code_906,BLS Code_907,BLS Code_908,BLS Code_909,BLS Code_910,BLS Code_911,BLS Code_912,BLS Code_913
0,1,9,Argentina,1.000000,0,330,-46,-46,-17,-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9,Argentina,1.000000,1,555,-34,-35,-13,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,9,Argentina,1.000000,1,555,-15,-15,0,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,9,Argentina,1.000000,1,555,0,0,0,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,9,Argentina,1.000000,0,330,-43,-43,-28,-28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,32,156,New Zealand,0.230769,1,501,8,5,3,22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1084,32,156,New Zealand,0.461538,0,330,0,0,1,12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1085,32,156,New Zealand,0.461538,1,577,12,11,5,29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086,32,156,New Zealand,0.692308,0,330,-2,-2,-2,11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1087,32,156,New Zealand,0.692308,1,643,13,12,3,31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
from sklearn.preprocessing import StandardScaler
s=StandardScaler()
ss=s.fit_transform(data[['CO2 ppm']])

In [28]:
data['CO2 ppm']=ss

In [29]:
data.drop(columns=['BLS Region','File Code'],inplace=True)

In [30]:
data

,BLS Code,Time_Slice,CO2 effects,CO2 ppm,wheat,rice,coarse grains,protein feed,grains,four commo-dities,...,BLS Code_904,BLS Code_905,BLS Code_906,BLS Code_907,BLS Code_908,BLS Code_909,BLS Code_910,BLS Code_911,BLS Code_912,BLS Code_913
0,9,1.000000,0,-1.070501,-46,-46,-17,-17,-36.333333,-31.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,1.000000,1,0.880733,-34,-35,-13,0,-27.333333,-20.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,9,1.000000,1,0.880733,-15,-15,0,17,-10.000000,-3.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,1.000000,1,0.880733,0,0,0,17,0.000000,4.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,1.000000,0,-1.070501,-43,-43,-28,-28,-38.000000,-35.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083,156,0.230769,1,0.412437,8,5,3,22,5.333333,9.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1084,156,0.461538,0,-1.070501,0,0,1,12,0.333333,3.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1085,156,0.461538,1,1.071521,12,11,5,29,9.333333,14.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086,156,0.692308,0,-1.070501,-2,-2,-2,11,-2.000000,1.25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1087,156,0.692308,1,1.643883,13,12,3,31,9.333333,14.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
from sklearn.model_selection import train_test_split

# 1. Define the columns to be excluded from the features (X)
target_columns = ['wheat', 'rice', 'coarse grains', 'protein feed', 'grains', 'four commo-dities']

# 2. Define Features (X)
# Drop the target columns from the full dataset (data)
X = data.drop(columns=target_columns, axis=1)

# 3. Define Targets (Y)
# Select ALL target columns by passing the list (target_columns) to data[]
Y = data[target_columns]

# 4. Perform the Train-Test Split
x_train, x_test, y_train, y_test = train_test_split(
    X,
    Y,
    test_size=0.2, # It's good practice to explicitly state the test size
    random_state=42
)

print("Data split successfully!")
print(f"X_train shape: {x_train.shape}")
print(f"Y_train shape: {y_train.shape}")

Data split successfully!
X_train shape: (870, 43)
Y_train shape: (870, 6)

In [32]:
x_train

,BLS Code,Time_Slice,CO2 effects,CO2 ppm,Scenario_CM2-S550,Scenario_CM2-S750,Scenario_CM3-A,Scenario_GFDL,Scenario_GISS,Scenario_UKMO,...,BLS Code_904,BLS Code_905,BLS Code_906,BLS Code_907,BLS Code_908,BLS Code_909,BLS Code_910,BLS Code_911,BLS Code_912,BLS Code_913
834,216,0.000000,0,-1.070501,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
552,903,1.000000,0,-1.070501,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
855,41,1.000000,1,0.880733,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,231,1.000000,1,0.880733,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,33,0.000000,0,-1.070501,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,223,0.692308,0,-1.070501,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
466,159,0.692308,0,-1.070501,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,906,0.000000,1,-0.376728,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1044,10,0.692308,0,-1.070501,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
860,41,1.000000,1,0.880733,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
import pandas as pd
import os

# --- THIS IS THE FIX ---
# Define the *correct* path to go UP from 'notebooks' and INTO 'data'
output_folder = '../data' 
file_name = os.path.join(output_folder, 'x_train.xlsx')
#
# Using os.path.join('data', 'x_train.xlsx') (like in your prompt) would be incorrect
# if you run this from inside the 'notebooks' folder.
# It would create a new folder: 'notebooks/data/x_train.xlsx'

# --- YOUR CODE IS BELOW ---

# Assuming 'x_train' is a DataFrame you have defined in your notebook
# I'm creating a placeholder so this script is runnable.
# In your notebook, you can delete this 'try/except' block.
try:
    x_train
except NameError:
    print("--- Warning: 'x_train' not found. Using placeholder data. ---")
    x_train = pd.DataFrame({'feature_1': [10, 20, 30], 'feature_2': ['A', 'B', 'C']})


# save DataFrame
x_train.to_excel(
    file_name,
    index=False,
    sheet_name='Training_Data'
)

print(f"✅ Successfully saved x_train to: {file_name}")

✅ Successfully saved x_train to: ../data\x_train.xlsx

In [40]:
import pandas as pd
import os

# Assume y_train and y_test are your two DataFrames defined in the notebook

# --- THIS IS THE FIX ---
# 1. Define the *correct* path to go UP from 'notebooks' and INTO 'data'
output_folder = '../data'
file_name = os.path.join(output_folder, 'y.xlsx')
#
# Using file_name = 'y.xlsx' (like in your prompt) would be incorrect
# It would save the file as 'notebooks/y.xlsx'


# --- YOUR CODE IS BELOW ---

# Assuming 'y_train' and 'y_test' are DataFrames you have defined.
# I'm creating placeholders so this script is runnable.
# In your notebook, you can delete this 'try/except' block.
try:
    y_train
    y_test
except NameError:
    print("--- Warning: 'y_train' or 'y_test' not found. Using placeholder data. ---")
    y_train = pd.DataFrame({'y_train_col': [1,2,3]})
    y_test = pd.DataFrame({'y_test_col': [4,5,6]})


# 2. Create an ExcelWriter object to handle the file
with pd.ExcelWriter(file_name) as writer:
    
    # 3. Write the first DataFrame to a sheet named 'y_train_data'
    y_train.to_excel(
        writer, 
        sheet_name='y_train_data', 
        index=False # Prevents writing the row numbers
    )
    
    # 4. Write the second DataFrame to a sheet named 'y_test_data'
    y_test.to_excel(
        writer, 
        sheet_name='y_test_data', 
        index=False
    )

print(f"✅ Successfully saved both tables to separate sheets in: {file_name}")

✅ Successfully saved both tables to separate sheets in: ../data\y.xlsx

In [41]:
import pandas as pd
import os

# Assuming 'x_test' is a DataFrame you have defined in your notebook

# --- THIS IS THE FIX ---
# 1. Define the *correct* path to go UP from 'notebooks' and INTO 'data'
output_folder = '../data'
file_name = os.path.join(output_folder, 'x_test.xlsx')
#
# Using file_name = 'x_test.xlsx' (like in your prompt) would be incorrect
# It would save the file as 'notebooks/x_test.xlsx'


# --- YOUR CODE IS BELOW ---

# Assuming 'x_test' is a DataFrame you have defined.
# I'm creating a placeholder so this script is runnable.
# In your notebook, you can delete this 'try/except' block.
try:
    x_test
except NameError:
    print("--- Warning: 'x_test' not found. Using placeholder data. ---")
    x_test = pd.DataFrame({'test_feature_1': [99, 88, 77], 'test_feature_2': ['X', 'Y', 'Z']})


# 1. Export the DataFrame to an Excel file
x_test.to_excel(
    file_name,
    index=False, # IMPORTANT: This prevents writing the DataFrame's row numbers
    sheet_name='x_test_data'
)

print(f"✅ Successfully saved your table to: {file_name}")

✅ Successfully saved your table to: ../data\x_test.xlsx